<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>VansonMod</string>
    <key>CFBundleDisplayName</key>
    <string>VansonMod</string>
    <key>CFBundleExecutable</key>
    <string>VansonMod</string>
    <key>CFBundleIdentifier</key>
    <string>com.vanson.modifier</string>
    <key>CFBundleVersion</key>
    <string>2.9</string>
    <key>CFBundleShortVersionString</key>
    <string>2.9</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>14.0</string>
    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
        <integer>2</integer>
    </array>
    <key>CFBundleIconFiles</key>
    <array>
        <string>AppIcon60x60</string>
        <string>AppIcon76x76</string>
        <string>AppIcon29x29</string>
        <string>AppIcon40x40</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>com.apple.private.security.no-container</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>mqq</string>
        <string>mqqapi</string>
        <string>mqqwpa</string>
    </array>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.vanson.modifier</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>vansonmod</string>
            </array>
        </dict>
    </array>

    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>VansonMod Document</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.vanson.vmpt</string>
                <string>com.vanson.vmrva</string>
                <string>com.vanson.vmsig</string>
                <string>com.vanson.vmvapt</string>
                <string>com.vanson.vmsc</string>
                <string>public.data</string>
            </array>
        </dict>
    </array>
    
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon60x60</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <true/>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>Icon-1</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-1</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Icon-2</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-2</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Icon-3</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-3</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Icon-4</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-4</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Icon-5</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-5</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
        </dict>
    </dict>

    <key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon60x60</string>
                <string>AppIcon76x76</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <true/>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>Icon-1</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-1</string>
                    <string>Icon-1~ipad</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Icon-2</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-2</string>
                    <string>Icon-2~ipad</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Icon-3</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-3</string>
                    <string>Icon-3~ipad</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Icon-4</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-4</string>
                    <string>Icon-4~ipad</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
            <key>Icon-5</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Icon-5</string>
                    <string>Icon-5~ipad</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.vanson.vmpt</string>
            <key>UTTypeDescription</key>
            <string>VansonMod Pointer</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>vmpt</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.vanson.vmrva</string>
            <key>UTTypeDescription</key>
            <string>VansonMod RVA Patch</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>vmrva</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.vanson.vmsig</string>
            <key>UTTypeDescription</key>
            <string>VansonMod Signature</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>vmsig</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.vanson.vmvapt</string>
            <key>UTTypeDescription</key>
            <string>VansonMod Verifier</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>vmvapt</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.vanson.vmsc</string>
            <key>UTTypeDescription</key>
            <string>VansonMod Script</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>vmsc</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
